/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  z-index: 100;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

/* CONTACT BUTTON (TOP RIGHT) */
.nav-btn {
  background: white;
  color: black !important;
  padding: 8px 18px;
  border-radius: 999px;
  font-weight: 600;
  transition: all 0.25s ease;
}

.nav-btn:hover {
  transform: scale(1.05);
}
